module.exports = {
    sendgridApi: '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',
    redisHost: "localhost",
    redisPort: 6379,
    apiHost: "localhost:3000",
    kubeRestApiHost: "http://34.217.101.70:8000",
    firewallPort: "31988",
    workerNodeIP: "52.43.83.54",
    namespace: "dev"
}