.explorer {
    .card-refresh {
        position: relative;
        left: 7px;
    }

    .widget-9 {
        height: auto !important;
    }

    .json-output {
        height: 488px;
        background: #272727;
        opacity: 0.8;
        color: white;
        overflow-y: scroll;
        word-wrap: break-word;
        word-break: break-all;

        pre {
            color: white;
        }
    }

    .widget-11-2 .widget-11-2-table {
        height: 484px;
    }

    .details .form-group-default {
        border-width: 0px;
    }

    .widget-11-2-table-2 {
        height: 429px;
    }

    .break-word {
        white-space: normal !important;
        word-wrap: break-word;
    }

    .w-0 {
        width: 0 !important;
    }

    .card-header a:not(.btn) .text-white {
        color: white !important;
    }
}

#loader {
  z-index: 1;
  margin: 0 auto;
  margin-top: 20px;
  border: 0px solid #f3f3f3;
  border-radius: 50%;
  border-top: 6px solid #3498db;
  width: 70px;
  height: 70px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.accept-invite{
  img {
      margin: 0 auto;
  }
}