.viewEditNetwork {
	.value-valign-middle{
		display: block;
		margin-top: 6px;
		word-wrap: break-word;
	}

	.value-valign-middle-status{
		display: block;
		margin-top: 2px;
	}

	.customList {
		padding-top: 6px
	}
}