.invite {
	.table tbody tr td {
		padding: 12px;
		vertical-align: middle;
	}

	.form-control[disabled] {
		background: #f3f3f30d;
		color: rgba(87, 87, 87, 0.86);
	}
	.btn[disabled], .form-control[disabled] {
		cursor: default;
  }

  .modal {
    background: rgba(0,0,0,0.4);
    display: block;
  }
}

.badge-dummy{
	background: rgba(0,0,0,0);
	color: rgba(0,0,0,0);
	padding-left: 0;
	padding-right: 0;
	width: 0;
}

.btn .badge {
	top: 0px;
}

.modal p {
  color: #999;
}

.modal p b {
  color: #222;
}

.invite {

  .modal-assetInfo .col-md-12 .form-group {
      border-right-color: rgba(0, 0, 0, 0.07) !important
  }

  .dark-disabled {
      color: #2c2c2c;
  }

  .CodeMirror-scroll {
      border: 1px solid rgba(0, 0, 0, 0.07);
      border-radius: 2px;
      margin: 0 !important;
      height: 92%;
      padding: 10px;
  }

  .CodeMirror-focused div.CodeMirror-cursors {
      visibility: visible;
  }
}
