.smartContractsManagement {
	.table tbody tr td {
		padding-left: 12px;
		padding-right: 12px;
	}

	.table tbody tr:hover {
		cursor: pointer;
	}

	.clickable {
		cursor: pointer;
	}

	@keyframes lds-wedges {
	  0% {
	    -webkit-transform: rotate(0deg);
	    transform: rotate(0deg);
	  }
	  100% {
	    -webkit-transform: rotate(360deg);
	    transform: rotate(360deg);
	  }
	}
	@-webkit-keyframes lds-wedges {
	  0% {
	    -webkit-transform: rotate(0deg);
	    transform: rotate(0deg);
	  }
	  100% {
	    -webkit-transform: rotate(360deg);
	    transform: rotate(360deg);
	  }
	}
	.lds-wedges {
	  position: relative;
	}
	.lds-wedges > div > div {
	  -webkit-transform-origin: 14px 14px;
	  transform-origin: 14px 14px;
	  -webkit-animation: lds-wedges 3s linear infinite;
	  animation: lds-wedges 3s linear infinite;
	  opacity: 0.8;
	}
	.lds-wedges > div > div > div {
	  position: absolute;
	  left: 3px;
	  top: 3px;
	  width: 7px;
	  height: 7px;
	  border-radius: 7px 0 0 0;
	  -webkit-transform-origin: 14px 14px;
	  transform-origin: 14px 14px;
	}
	.lds-wedges > div div:nth-child(1) > div {
	  background: #2168a6;
	  -webkit-transform: rotate(0deg);
	  transform: rotate(0deg);
	}
	.lds-wedges > div div:nth-child(1) {
	  -webkit-animation-duration: 0.75s;
	  animation-duration: 0.75s;
	}
	.lds-wedges > div div:nth-child(2) > div {
	  background: #194973;
	  -webkit-transform: rotate(0deg);
	  transform: rotate(0deg);
	}
	.lds-wedges > div div:nth-child(2) {
	  -webkit-animation-duration: 1s;
	  animation-duration: 1s;
	}
	.lds-wedges > div div:nth-child(3) > div {
	  background: #398cbf;
	  -webkit-transform: rotate(0deg);
	  transform: rotate(0deg);
	}
	.lds-wedges > div div:nth-child(3) {
	  -webkit-animation-duration: 1.5s;
	  animation-duration: 1.5s;
	}
	.lds-wedges > div div:nth-child(4) > div {
	  background: #74bf04;
	  -webkit-transform: rotate(0deg);
	  transform: rotate(0deg);
	}
	.lds-wedges > div div:nth-child(4) {
	  -webkit-animation-duration: 3s;
	  animation-duration: 3s;
	}
	.lds-wedges {
	  width: 100px !important;
	  height: 100px !important;
	  -webkit-transform: translate(-50px, -50px) scale(0.5) translate(50px, 50px);
	  transform: translate(-50px, -50px) scale(0.5) translate(50px, 50px);
	}
}
