.network-config-selector {

	.form-group-default .form-control {
		height: 25px !important;
	}

  .error-message {
    color: #bd0000;
    font-size: 0.8em;
    margin-top: 10px;
  }


  .success-message {
    color: #21af5c;
    font-size: 0.8em;
    margin-top: 10px;
  }

  .form-group-default .form-control {
	  height: 25px !important;
  }

  .delete-button {
	  cursor: pointer;
	  background: #f35958;
	  color: #fff;
  }

	.delete-button:hover {
		background: #fb7270;
	}

  .apply-button {
	  cursor: pointer;
	  background: #1dbb99;
	  color: #fff;
  }

  .apply-button:hover {
	  background: #4ac9ad;
  }
}
