body.menu-behind .header .brand {
  margin-right: 25px;
  margin-left: 25px;
  padding-left: 7px;
}

.page-sidebar .sidebar-header {
  background: white;
}

body.fixed-header .header {
  background: white;
}
body.fixed-header .header.admin {
  background: #000;
  color: #fff;
}

.dropdown-toggle:after {
  position: inherit;
  right: 15px;
}

.dropdown {
  cursor: pointer;
}
