.joinNetwork {
	.file-button {
		margin-top: 6px;
	}

	button.add-url {
		padding-left: 8px;
		padding-right: 8px;
	}

	.form-group-default .form-control {
		height: 25px !important;
	}

	.delete-button {
		cursor: pointer;
	}
}