.paymeter {
  .wallet-box-bg {
    background-color: #f7f7f7;
  }

  .wallet-list-item {
    cursor: pointer;

    .wallet-box-bg:hover {
      background-color: #f0f0f0;
    }
  }

  .create-wallet-btn {
    margin-right: 0px !important;
    margin-left: 0px !important;
    margin-bottom: 20px;

    .btn-group {
      padding: 20px;

      .btn {
        padding: 10px;
      }
    }
  }

  .deposit-box {
    text-align: center;
  }

  .no-hidden-text {
    white-space: normal !important;
  }

  .paymeter h5 {
    word-break: break-word;
  }

  .wallet-box-bg-selected {
    background-color: #d6d6d6;
  }
}
